*,::after,
::before{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
} 

.logo_head{
  display: flex;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x)* 0.5);
  padding-left: calc(var(--bs-gutter-x)* 0.5);
  margin-right: auto;
  margin-left: auto;
}
.logo_con{
  display: flex;
  align-items: center;
}
.logo_title{
  height: 10px;
  margin-top: 25px;
  margin-left: -15px;
}
.logo{
  width: 15%;
}
.head{
  color: #273188;
  font-size: x-large;
    font-weight: 700;
    
    margin-left: 10px;

}
.head:hover{
  color: red;
}
.navbar-toggler{
  background-color: #fff;
}
.navbar-toggler-icon{
  background-color: #fff;
}
.size{
  font-size: 20px;
  background-color:#b3c1e6f7;
}
.nav-link{
  margin-left: 10px;
  color: #273188;
}
.nav-link:hover{
  color:red;
}

.land{
  margin-bottom: 50px;
}
.Pricing{
  margin-block: 100px;
}


.Expectation {
  background: #133e44;
  padding-block: 50px;
  width: 100%;
 
}
.Expectation-main {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}
.Expectation-main-left {
  color: white;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.imgtext {
  display: flex;
  align-items: center;
  gap: 20px;
}
.join {
  font-size: 40px;
}
.ficon {
  max-width: 100px;
}
.log{
  border-radius: 50px;
  width: 50px;
}
.links{
  display: flex;
  gap: 30px;
}
.foot-links{
  color: #fec85b;
}
.Expectation-main-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.footrec {
  background: #0f2f31;
  padding: 15px 75px;
  border: none;
  border-radius: 10px;
  font-size: 12px;
}
.footrecdemo {
  background: #fec85b;
  color: black;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;

  margin-left: auto;
}
.rightsec{
  position: relative;
}
.sms{
  position: absolute;
      transform: translate(25%, 25%);
}
.new-whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  top: 500px;
    right: 75px;
  font-size: 30px;
  z-index: 100;
  
}
@media (max-width: 600px) {
  .top-bar {
    display: none;
  }
}
@media(max-width:768px) {
  .new-whatsapp {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 520px;
    right: 40px;
  }
}
@media(max-width:500px) {
  .head {
    font-size:21px;
      margin-top: 0px;
     }
}
@media(max-width:768px) {
  .projec {
    gap: 10px;
  }
}
@media (max-width: 1441px) {
  
  .logo{
    width: 9%;
  }
  .logo_title {
    margin-top: 50px;
  }
}
@media (max-width: 1025px) {
  .logo{
    width: 10%;
  }
  .logo_title {
    margin-top: 35px;
  }
}
@media (max-width: 769px) {
  .logo{
    width: 8%;
  }
  .logo_title {
    margin-top: 40px;
  }
  .nav_btn{
    flex-direction: column;
  }
  .navbar-toggler{
    height: 40px;
    margin-block: 10px;
  }
 
}
@media (max-width: 600px) {
  .logo{
    width: 15%;
  }
  .logo_title {
    margin-top: 40px;
  }
}
@media (max-width: 376px) {
  .logo{
    width: 18%;
  }
  .logo_title {
    margin-top: 40px;
  }
}
@media (max-width: 321px) {
  .navvar_toggle{
    height: 50px;
    margin-top: 10px;
  }
  .logo{
    width: 22%;
  }
  .logo_title {
    margin-top: 40px;
  }
}